form {
    margin-bottom: 20px;
    text-align: center;
  }
  
  input[type="text"], select, button {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 10px);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    width: 100%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  